[submodule "Hello-World"]
	path = Hello-World
	url = https://github.com/goudori/Hello-World.git
[submodule "Variable-Calculation"]
	path = Variable-Calculation
	url = https://github.com/goudori/Variable-Calculation.git
[submodule "Type-conditional-branch"]
	path = Type-conditional-branch
	url = https://github.com/goudori/Type-conditional-branch.git
[submodule "JavaArrayPractice"]
	path = JavaArrayPractice
	url = https://github.com/goudori/StudentList.git
[submodule "Stream"]
	path = Stream
	url = https://github.com/goudori/Stream-api.git
[submodule "File-Exception"]
	path = File-Exception
	url = https://github.com/goudori/File-Exception.git
